{% extends 'base.html.twig' %}

{% block title %}Edit Type{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Edit Type</h1>

        {{ include('type/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('type_index') }}" class="btn btn-primary mt-4">back to list</a>

        {{ include('type/_delete_form.html.twig') }}
    </div>
{% endblock %}
