{% extends 'base.html.twig' %}

{% block title %}inscrire{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Inscription</h1>

        {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}

        <button type="submit" class="btn btn-warning">Inscrire</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
